{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="row">
	<div class="col-sm-3 col-md-2 sidebar" style="padding-top: 80px;height: 100%; width:200px">
		<ul class="nav nav-sidebar" id="bill_select" style="padding-bottom:10px">
			{% render_bundle 'dashboard' %}
		</ul>
		<ul id="sidebar" class="nav nav-sidebar">
			<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
			<li><a href="#">History</a></li>
			<li><a href="#">Export</a></li>
			{% render_bundle 'dashboard' %}
		</ul>
        
	</div>
	<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>-->

	<div id="overview" class='col-sm-9'  style="padding-top: 80px;">
		<div class='panel panel-info'>
			<div class="panel-heading">
				<h3 class="panel-title">Overview</h3>
			</div>
			<div class="panel-body" id='billoverview'>
				{% render_bundle 'dashboard' %}
			</div>

		</div>
	</div>

	<div id="history" class='col-sm-9'  style="padding-top: 80px;">
		<div class='panel panel-info'>
			<div class="panel-heading">
				<h3 class="panel-title">History</h3>
			</div>
			<div class="panel-body" id='billhistory'>
				{% render_bundle 'dashboard' %}
			</div>

		</div>
	</div>

</div>

{% endblock %}