{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}

	<div class='col-md-4' id='billform' style="padding-top: 80px;">
	{% render_bundle 'main' %}
	</div>

	<div class='col-md-8'  style="padding-top: 80px;">
		<div class='panel panel-info'>
			<div class="panel-heading"> 
				<h3 class="panel-title">Bills Dashboard</h3>
			</div>
			<div class="panel-body">
				<div id="billpie">
					{% render_bundle 'main' %}
				</div>
				<div id="billbar">
					{% render_bundle 'main' %}
				</div>

			</div>
			
		</div>
	</div>

{% endblock %}

		